body
{
	background-color:#98ff66;
	font-Family: arial;
}
#Dbody {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#98ff66;
}

#spanZG{
color:#f66a03;
}


#ZG {
	padding: 10px 38px;
	background-color:#ffffff;
	z-index:2;
	position: absolute;
	top: 16;
	left: 45;
	color:#026538;
	font-size:22pt;
	box-shadow: 0 0 0 2px #ffc574,
				0 0 0 4px  #ff974f,
				0 0 0 6px  #f16c07,
				0 0 0 8px  #c06b06,
				0 0 0 9px #6c7d01;
} 
/* https://active-vision.ru/icon/box-shadow/ */

#text {
	width:850px;
	height:550px;
	position: absolute;
	top: 50;
	left: 7;
	background-color: #ffcc44;
	border-top: solid 4px #689965;
	border-bottom: solid 4px #689965;
	border-left:solid 4px #cc6601;
	border-right:solid 4px #cc6601;
}

li {
	margin: 7px 0;
}

#text1 {
	font-size:11pt;
	padding: 70px 65px 0px 25px;
}

#divul {
	padding: 0px 199px 15px 15px;
}

.li {
font-size:8pt;
}

img {
	height: 360;
}

#img {
	z-index:2;
	position: absolute;
	top: 260;
	left: 700;
	border: solid 2px #986703;
}

#citata {
	color: #ad7541;
	background-color: fff;
	border: 3px solid #c76900;
	z-index:2;
	position: absolute;
	top: 100;
	left: 835;
	padding: 8px 20px 8px 8px;
	height: 72px;
	width: 168px;
}
#citataRED {
	color:#db3a0f;
}
#sait {
	color: #d47f5e;
	border-bottom: solid 5px #a55800;
	border-right: solid 5px #a55800;
	border-left: solid 5px #fd8d41;
	border-top: solid 5px #fd8d41;
	background-color: #fff;
	z-index:2;
	position: absolute;
	padding: 12px 10px;
	width: 142px;
	height:15px;
	top: 600;
	left: 890;
}




